@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'NanumSquareRound';
}

button {
    font-family: 'NanumSquareRound';
}

.slideContainer {
    width: 100%;
    position: relative;
}


#wrap {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0 auto;

}

.header {
    width: 100%;
    height: 150px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    position: relative;

}
.pc_nav {
    display: none;
}

nav {
    position: absolute;
    width: 100%;
    top: 96%;
    left: 0;
    z-index: 999;
}

.logo {
    width: 200px;
    height: 100px;
}

.logo img {
    width: 100%;
}

.gnb {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: none;
    z-index: 10;
}

.gnb li {
    border-bottom: 1px solid #fff;
}

.gnb li a {
    display: block;
    padding: 14px 0 14px 5%;
    font-size: 20px;
    color: #000;

}

.no li a:hover {
    background-color: #fff;
    color: #3498db;
}

.gnb > li > a {
    background-color: #b5e1fe;
    
}

.gnb > li > a:hover {
    color: #fff;
}


.menu_toggle_btn {
    float: right;
    width: 40px;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 20px;
}



.menu_toggle_btn span {
    display: block;
    width: 100%;
    height: 5px;
    background-color: #363636;
    transition: all 0.2s;
}

.menu_toggle_btn span:nth-child(2) {
    margin: 5px 0;
}

.menu_toggle_btn.active span:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}

.menu_toggle_btn.active span:nth-child(2) {
    opacity: 0;
}

.menu_toggle_btn.active span:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
}

.no {
    display: none;
}

/*-아래 pageBt abosolute로 위치를 잡기 위하여 부모에 position: relative 필요*/
.slideWrap {
    width: 700%;
    overflow: hidden;
    /*margin-left: calc(-100%*1);*/
    position: relative;
    z-index: 1
}

/*총600장을 나열하기위하여 calc(100%*6) 또는 600%, 맨처음 1번째 이미지 가기위하여 margin-left: calc(-100%*0)*/
.slideWrap li {
    float: left;
    width: 100%;
}

.slide img {
    width: 100%;
}

.pageBtWrap {
    z-index: 2;
    position: absolute;
    left: 0;
    bottom: 7%;
    width: 100%;
    text-align: center;
}

.pageBtWrap li {
    display: inline;
}

/*부모요소를 text-align: center, li를 inline요소로 바꿔 중간 정렬, float: left 사용할 필요없음*/
.pageBtWrap li .pageBt {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: gray;
}

.pageBtWrap li .pageBt.addPageBt {
    background-color: #000000;
}

.upper_section {
    width: 100%;
    max-width: 1920px;
    position: relative;
    /*display: inline-block;*/
    margin: 0 auto;
}

.main_txt_box{
    width: 80%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin-left: 6vw;
    
    
}
.sub_txt {
    width: 100%;
    height: auto;
    text-align: left;
    color: #fff;
    font-weight: normal;
    font-size: 3vw;
}

.main_txt {
    text-align: left;
    width: 100%;
    height: auto;
    color: #fff;
    font-weight: bold;
    font-size: 9vw;
    position: relative;
}
.tit1{
    position: absolute;
    width: 10%;
    right: 18%;
    top: -5%;
}
.tit2{
    position: absolute;
    width: 7%;
    right: 5%;
    top: 15%;
}
.tit3{
    position: absolute;
    width: 5%;
    right: 14%;
    top: 30%
}

.main_image {
    width: 100%;
    height: auto;
}

.Theme_section {
    width: 90%;
    margin: 0 auto;
}

.theme_list li:first-child h3 {
    color: #3498db;
}

.theme_list li:nth-child(2) h3 {
    color: #ff7200;
}

.theme_list li:nth-child(3) h3 {
    color: #1abc9c;
}

.theme_list li:nth-child(4) h3 {
    color: #9b59b6;
}

.main_txt01 {
    text-align: center;
    margin-top: 60px;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    color: #363636;
}

.theme_list {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
}

.theme_list li {
    height: auto;
    width: 41%;
    text-align: center;
    margin-bottom: 30px;
}

.theme_list li:nth-child(3){
    margin-bottom: 0;
}

.theme_list li:nth-child(4){
    margin-bottom: 0;
}

.theme_list li img {
    width: 50%;
    height: auto;
}

.theme_list li h3 {
    font-weight: bold;
    font-size: 18px;
}

.theme_list li p {
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    margin-top: 5px;
}
.Theme_section .theme_list li a img{
    transition: all 0.2s linear;
}

.Theme_section .theme_list li a:hover img{
    transform: scale(1.12);
}
.content_info p{
    color: #363636;
}
.activity {
    font-size: 27px;
    color: #3598db;
    
}

.sub_tit02 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
	
    
}
.food_section h2{
    background-color: #fff;
    
}
.food{
	margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 15px;
}
.flexbox {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

.flexbox img {
    width: 100%;
    height: auto;
}


.list1 li {
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.list1 li:last-child{
    margin-bottom: 0;
}

.list1 li:nth-child(1) {
    margin-top: 30px;
}

.list1 li a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.list1 li a:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 98%;
    background-color: rgba(0, 0, 0, 0.7);
    content: "";
    opacity: 0;
    transition: all 0.2s;
}

.list1 li a:hover:before {
    opacity: 0.86;
}

.list1 li .txt_tit {
    position: absolute;
    z-index: 20;
    opacity: 0;
    transition: all 0.3s;
    color: #fff;
    font-weight: bold;
    text-align: center;
    top: 0;
    font-size: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.list1 li a:hover .txt_tit {
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 1;
}


.culture_section {
    width: 90%;
    margin: 0 auto;
    height: auto;
}

.culture_list {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.culture_list li {
    display: flex;
    flex-flow: row wrap;
}

.culture_list li img {
    width: 100%;
}

.culture_box1 {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    border-radius: 5px;
    padding-bottom: 10px;
}

.culture_info {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.culture_info h3 {
    font-size: 22px;
    font-weight: bold;
    margin: 15px 0;
}

.culture_info p {
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
}
.culture_info{
    color: #363636;
}

.culture{
    color: #ff7200;
}

.btn {
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #fff;
    text-align: center;
    background-color: #ff7200;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
    transition: all 0.9s, color 0.3;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.hover1:hover {
    box-shadow: 200px 0 0 0 rgba(0, 0, 0, 0.5) inset;
}

.culture_info span {
    font-size: 12px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

.culture_box2 {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    border-radius: 5px;
    padding-bottom: 10px;
}

.yame {
    color: transparent;
}

.tour_section {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.tour_list {
    width: 100%;
    max-width: 100%;
}

.tour_list li {
    width: 90%;
    margin: 0 auto;

}

.tour_list li img {
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.tour_list .tour_info {
    width: 100%;
    height: auto;
}

.tour {
    font-size: 27px;
    color: #1abc9c;
}

.tour_list .tour_info p {
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 5px;
}
.tour_info{
    color: #363636;
}

.tour_list .tour_info h3 {
    font-weight: bold;
    font-size: 21px;
}

.plogging_section {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.plogging_tit {
    width: 100%;
    height: 100px;
    background-color: #1abc9c;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 10px 0;
    position: relative;
}
.plogging_tit p{
    position: absolute;
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    line-height: 27.3px;
}


.plogging_list {
    margin-top: 30px;
    width: 100%;
}

.plogging_list li {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    width: 90%;
}

.plogging_list li img {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    margin: 0 auto;
}

.plogging_info {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 30px;
    color: #363636;
}

.plogging_info p {
    width: 60%;
    display: block;
    text-align: center;
}

.plogging_info h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    margin: 20px 0;
}

.food_section {
    width: 100%;
    margin: 0 auto;
    background-color: #9b59b6;
    padding: 0 0 50px 0;
}

.food{
    color: #9b59b6;
}
.food_sub-tit {
    width: 100%;
    height: auto;
    color: #fff;
    font-weight: normal;
    text-align: center;
    font-size: 17px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.food_list {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    padding-bottom: 20px;
}

.food_list li {
    width: 80%;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
}

.food_list li img {
    width: 100%;
    margin-top: 40px;
}

.food_info {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    color: #363636;
}

.food_info span {
    font-size: 12px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

.food_info h3 {
    color: #9b59b6;
    font-size: 23px;
    font-weight: bold;
}

.box01 {
    margin-top: 0;
}

.food_info p {
    font-size: 15px;
    font-weight: normal;
    margin-top: 15px;
    line-height: 25px;
}

.food_info p:last-child {
    margin-bottom:
}

.food_list a img {
    transition: all 0.2s linear;
}

.food_list a:hover img {
    transform: scale(1.1);
}



.food_list li:last-child .food_info {}

.footer {
    width: 100%;
    height: auto;
    order: 9;
    display: flex;
    flex-flow: row wrap;
    background-color: #000;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #fff;
}

.footer_txt1 {
    width: 45%;
    height: auto;
    order: 1;
    background-color: #000;
    margin-top: 20px;
}

.footer_txt2 {
    width: 90%;
    height: auto;
    order: 2;
    background-color: #000;
}

.logo_list {
    order: 2;
    width: 200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.logo_list li {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    cursor: pointer;
    transition: all 0.2s;
}

.logo_list li:first-child {
    background-image: url(../images/%EC%95%84%EC%9D%B4%EC%BD%98_%ED%8E%98%EB%B6%81_%EB%B3%B4%ED%86%B5.png);
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
}

.logo_list li:nth-child(2) {
    background-image: url(../images/%EC%95%84%EC%9D%B4%EC%BD%98_%EC%9D%B8%EC%8A%A4%ED%83%80_%EB%B3%B4%ED%86%B5.png);
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
}

.logo_list li:last-child {
    background-image: url(../images/%EC%95%84%EC%9D%B4%EC%BD%98_%EC%9C%A0%ED%8A%9C%EB%B8%8C_%EB%B3%B4%ED%86%B5.png);
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
}

.logo_list li:first-child:hover {
    background-image: url(../images/%EC%95%84%EC%9D%B4%EC%BD%98_%ED%8E%98%EB%B6%81_%ED%98%B8%EB%B2%84.png);
    background-position: center;
    background-size: 40px;
    background-color: #3a559f;
}

.logo_list li:nth-child(2):hover {
    background-image: url(../images/%EC%95%84%EC%9D%B4%EC%BD%98_%EC%9D%B8%EC%8A%A4%ED%83%80_%ED%98%B8%EB%B2%84.png);
    background-position: center;
    background-size: 40px;
    background-color: #c42a70;
}

.logo_list li:last-child:hover {
    background-image: url(../images/%EC%95%84%EC%9D%B4%EC%BD%98_%EC%9C%A0%ED%8A%9C%EB%B8%8C_%ED%98%B8%EB%B2%84.png);
    background-position: center;
    background-size: 40px;
    background-color: #ed3023;
}

.footer p {
    margin-bottom: 20px;
}

.footer span {
    font-weight: bold;
    font-size: 14px
}

/* 태블릿 section */



@media all and (min-width:768px) {

    .main_txt_box{
    width: 80%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin-left: 6vw;
    
    
}
.sub_txt {
   font-size: 3vw;
}

.main_txt {
    
    font-size: 9vw;
    
}


    .Theme_section {
        width: 80%;
        height: auto;
        margin: 0 auto;
    }

    .theme_list {
        justify-content: center;
    }

    .flexbox {
        width: 80%;
        margin: 0 auto;
    }

    .list1 {
        display: flex;
        width: 100%;
        flex-flow: row wrap;
        margin-top: 20px;
    }

    .list1 li {
        width: 41%;
        height: auto;
    }

    .list1 li:nth-child(1) {
        margin-top: 0;
        margin-right: 0;
    }

    .list1 li:nth-child(2) {
        margin-left: 20px;
    }

    .list1 li:nth-child(3) {
        margin-right: 0;
    }

    .list1 li:nth-child(4) {
        margin-left: 20px;
    }

    .list1 li .txt_tit {
         font-size: 20px;
    }


    .culture_section {
        width: 90%;
        height: auto;
        max-width: 100%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .culture_list {
        display: flex;
        flex-flow: row nowrap;
        width: 76%;
        margin: 0 auto;
    }

    .culture_list li {
        width: 100%;
        margin: 0 auto;
    }

    .culture_box1 {
        width: 80%;
        margin-right: 10px;
    }

    .culture_box2 {
        width: 80%;
        margin-left: 10px;
    }

    .culture_info h3 {
        font-size: 20px;
    }

    .tour_list .tour_info p {
        font-size: 13px;
    }

    .tour_section {
        width: 80%;
    }

    .sub_tit02 {
        font-size: 35px;
		text-align: center;
    }

    .plogging_section {
        width: 80%;
        height: auto;
    }

    .plogging_list {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
    }

    .plogging_list li {
        width: 41%;
        margin: 0 auto;
    }

    .plogging_list li img {
        width: 250px;
        height: 250px;
    }

    .plogging_info {
        width: 100%;
    }

    .plogging_info p {
        line-height: 25px;
    }
    .plogging_tit p{
        font-size: 25px;
        line-height: 35px;
    }
    
    .food_sub-tit{
        padding-top: 20px;
    }

    .food_section {
        padding-bottom: 100px;
    }

    .food_sub-tit {
        margin-bottom: 40px;
        font-size: 20px;
    }

    .food_info h3 {
        font-size: 27px;
    }

    .food_info p {
        font-size: 19px;
    }

    .food_list {
        width: 65%;
    }

    .food_list li {
        width: 75%;
    }

    .food_list li img {
        margin-bottom: 10px;
    }

    .food_info span {
        font-size: 15px;
    }

    .yame {
        color: transparent;
    }

    .culture {
        margin-top: 60px;
    }

    .plogging_list li:nth-child(4) .plogging_info {
        margin-top: 50px;
    }
    .footer_txt1 {
        order: 1;
        width: 60%;
    }

    .footer_logo {
        order: 2;
        display: block;
    }

    .footer_txt2 {
        order: 3;
        width: 85%;
    }
}


/* PC Section */


@media all and (min-width:1024px) {
    
    h2 {
    font-size: 2.25rem;
        padding: 60px 0 50px 0;}
    
    hr {position: absolute;
        width: 100px;
        height: 3px;
        top: 90px;
        z-index: 99999;
        border-radius: 50px;
        background-color: #3498db;
        left: 20%;
        display: none;}
    .pc_main_menu li:nth-child(2) hr{transform: translateX(-5%);}
    .pc_main_menu li:nth-child(3) hr{
                                        transform: translateX(-10%);}
    .pc_main_menu li:last-child hr {
        transform: translateX(-50%);}
    
    header {
        width: 100%;
        padding: 0 1%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        position: relative;
        color: #363636;
    }
    
    .logo {
        width: 200px;
        z-index: 99999999999;
}
    
    .box {
        width: 100%; 
        z-index: 10;
        background-color:#fff;
        position: absolute;
        top: 100px;
        display: none;
        height: 244px;
    }
    .main_menu_btn {
        display: none;
    }
    .gnb {
        display: none;
    }
    .sub_menu_btn {
        display: none;
    }
        .menu_toggle_btn{
            display: none;
        }
    .pc_nav {
        display: flex;
        position: relative;
        justify-content: flex-end;
        font-size: 1.17rem;
        position: relative;
        width: 80%;
        color: #363636;
        
    }
    .pc_main_menu {
        width: 100%;
        line-height: 100px;
        position: absolute;
        top: -200px;
        right: 0;
        color: #363636;
        font-weight: bold;
        
    }
    .pc_main_menu > li {
        position: relative;
        float: left;
        width: 18%;
        padding-left: 40px;
        text-align: center;

    }
        .pc_main_menu > li>a{
            color: #363636;
        }
    .pc_main_menu > li:last-child {
        padding-right: 40px;
    }
    .pc_sub_menu {
        position: absolute;
        z-index: 50;
        width: 100%;
        top: -120px;
        display: none;
        z-index: 999999;
        right: -18px;

    }
    .pc_sub_menu > li  a:hover {
        font-weight: 700;
    color: #3498db;
    }
    .pc_sub_menu > li {
        width: 18%;
        text-align: center;
        float: left;
        padding-left: 40px;
        padding-top: 20px;
        background-color: #ffff;
    }
        .pc_sub_menu_text > li>a{
            color: #363636;
        }
    

    .pc_sub_menu > li:first-child,
    .pc_sub_menu > li:nth-child(2) {
        padding-left: 30px;
    }
    .pc_sub_menu > li:last-child {
        padding-right: 40px;
    }
    .pc_sub_menu_text li:first-child {
        padding-top: 0;
    }
    .pc_sub_menu_text li {
        padding-top: 30px;
    }
    .pc_sub_menu_text li:nth-child(4) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    

    .main_txt01 {
        font-size: 38px;
    }

    .flexbox {
        width: 80%;
        margin: 0 auto;
    }

    .theme_list li {
        width: 25%;
        margin: 50px 0;
    }

    .theme_list li .content_info h3 {
        font-size: 30px;
    }

    .theme_list li .content_info p {
        font-size: 20px;
        line-height: 25px;
    }

    .list1 {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .list1 li {
        width: 23%;
        margin: 0;

    }

    .list1 li .txt_tit {
        font-size: 18px;
    }

    .list1 li:nth-child(2) {
        margin-left: 0;
    }

    .list1 li:nth-child(3) {
        margin-right: 0;
    }

    .list1 li:nth-child(4) {
        margin-left: 0;
    }

    .culture_section {
        width: 80%;
        justify-content: space-between;
    }

    
    .tour_section {
        width: 80%;
        margin: 0 auto;
    }

    .tour_list .tour_info p {
        font-size: 20px;
    }

    .tour_list .tour_info h3 {
        font-size: 29px;
    }

    .culture_section {
        width: 80%;
        height: auto;
        max-width: 100%;
        margin: 0 auto;
    }

    .culture {
        margin-top: 70px;
    }

    .culture_list {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        margin: 0 auto;
    }

    .culture_list li {
        width: 100%;
        margin: 0 auto;
    }

    .culture_box1 {
        width: 100%;
        margin-right: 10px;
    }

    .culture_box2 {
        width: 100%;
        margin-left: 10px;
    }

    .culture_info h3 {
        font-size: 35px;
    }

    .culture_info p {
        font-size: 20px;
        line-height: 30px;
    }

    .culture_info span {
        font-size: 16px;
    }

    .plogging_section {
        width: 80%;
        margin: 0 auto;
    }

    .plogging_list {
        width: 100%;
    }

    .plogging_list li {
        width: 33.3333%;
    }

    .yame {
        color: transparent;
    }

    .food_list li img {
        margin-bottom: 20px;
    }

    .food_info span {
        font-size: 19px;
    }

    .food_info h3 {
        font-size: 30px;
    }

    .food_info p {
        font-size: 21px;
    }

    .food_sub-tit {
        font-size: 25px;
    }

    .sub_tit02 {
        font-size: 43px;
    }

    .main_txt01 {
        font-size: 45px;
    }

    .plogging_list li:nth-child(4) .plogging_info {
        margin-top: -2px;
    }

    .plogging_tit {
        font-size: 30px;
        padding: 20px;
        line-height: 35px;
    }
    .main_txt_box{
    width: 80%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin-left: 6vw;
    
    
}
.sub_txt {
    width: 100%;
    height: auto;
    text-align: left;
    color: #fff;
    font-weight: normal;
}

.main_txt {
    text-align: left;
    width: 100%;
    height: auto;
    color: #fff;
    font-weight: bold;
    font-size: 6vw;
    position: relative;
}
.tit1{
    position: absolute;
    width: 10%;
    right: 43%;
    top: -5%;
}
.tit2{
    position: absolute;
    width: 7%;
    right: 30%;
    top: 15%;
}
.tit3{
    position: absolute;
    width: 5%;
    right: 39%;
    top: 40%;
}
}
