@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CBNUJIKJI';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/CBNUJIKJI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    vertical-align: top;
}
.second_hr,.first_hr{
    opacity: 0;
}

/*공통*/

#wrap{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'NanumSquareRound';
}

.container{
    width: 80%;
    margin: 0 auto;
}

hr{
    width: 100px;
    height: 2px;
    background-color: #363636;
    margin: 80px auto 80px auto;
    
}

.sec_tit{
    font-size: 24px;
    text-align: center;
    margin-bottom: 60px;
    width: 100%;
    order: 1;
}

.image{
    order: 2;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.text{
    order: 3;
    width: 100%;
}

.header {
    order: 1;
    width: 100%;
    height: 150px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    position: relative;

}
.pc_nav {
    display: none;
}

nav {
    position: absolute;
    width: 100%;
    top: 96%;
    left: 0;
    z-index: 999;
}

.logo {
    width: 200px;
    height: 100px;
}

.logo img {
    width: 100%;
}

.gnb {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: none;
    z-index: 10;
}

.gnb li {
    border-bottom: 1px solid #fff;
}

.gnb li a {
    display: block;
    padding: 14px 0 14px 5%;
    font-size: 20px;
    color: #000;

}

.no li a:hover {
    background-color: #fff;
    color: #3498db;
}

.gnb > li > a {
    background-color: #b5e1fe;
    
}

.gnb > li > a:hover {
    color: #fff;
}


.menu_toggle_btn {
    float: right;
    width: 40px;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 20px;
}



.menu_toggle_btn span {
    display: block;
    width: 100%;
    height: 5px;
    background-color: #363636;
    transition: all 0.2s;
}

.menu_toggle_btn span:nth-child(2) {
    margin: 5px 0;
}

.menu_toggle_btn.active span:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}

.menu_toggle_btn.active span:nth-child(2) {
    opacity: 0;
}

.menu_toggle_btn.active span:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
}

.no {
    display: none;
}


/*소개*/

.intro_sec{
    order: 1;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.intro_sec .text{
    position: relative;
}


.intro_sec .sec_tit{
    margin-top: 60px;
}

.intro_sec .image img{
    width: 80%;
    margin: 0 auto;
    display: block;
}

.intro_sec .text p{
    font-size: 20px;
    text-align: center;
    line-height: 32px;
    font-family: 'CBNUJIKJI';
}

.intro_sec .text p #line:after {
	content: "";
	display: block;
	width: 0;
	height: 5px;
	background-color: #2EE4B1;
	position: absolute;
	left: 0;
	bottom: -2px;
	border-radius: 10px;
	/*    rgba(55, 66, 211);*/
}

.intro_sec .text p:hover #line:after {
	width: 100%;
	transition: width .3s;
}

.intro_sec .text p span{
    color: #3498db;
}

.first_hr{
    order: 2;
}



/*개요*/

.outline_sec{
    order: 3;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.outline_sec .image img{
    width: 80%;
    margin: 0 auto;
    display: block;
}

.outline_sec .text p{
    font-size: 14px;
    line-height: 40px;
    
}

.outline_sec .text p span{
    display: flex;
    flex-flow: row wrap;
}

.outline_sec .text p span .geoje{
    width: 25%;
    height: 100%;
    margin: auto 20px auto 20px;
}

.outline_sec .text p span .blue{
    width: 15%;
    height: 100%;
    margin: auto 0;
}

.outline_sec .text p span .gyeongnam{
    width: 25%;
    height: 100%;
    margin: auto 0 auto 20px;
}


.second_hr{
    order: 4;
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}



/*캐릭터*/

.cha_sec{
    order: 5;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cha_sec .image img{
    width: 90%;
    margin: 0 auto;
    display: block;
}

.cha_sec .text h2{
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
}

.cha_sec .text h2 span{
    color: #3498db;
}

.cha_sec .text h2 span:nth-child(2){
    color: #2ecc71;
}

.cha_sec .text h3{
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 50px;
}

.cha_sec .text h4{
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.cha_sec .text p{
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 60px;
}

.footer {
    width: 100%;
    height: auto;
    order: 9;
    display: flex;
    flex-flow: row wrap;
    background-color: #000;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #fff;
}

.footer_txt1 {
    width: 45%;
    height: auto;
    order: 1;
    background-color: #000;
    margin-top: 20px;
}

.footer_txt2 {
    width: 90%;
    height: auto;
    order: 2;
    background-color: #000;
}

.logo_list {
    order: 2;
    width: 200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.logo_list li {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    cursor: pointer;
    transition: all 0.2s;
}

.logo_list li:first-child {
    background-image: url(../images/%EC%95%84%EC%9D%B4%EC%BD%98_%ED%8E%98%EB%B6%81_%EB%B3%B4%ED%86%B5.png);
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
}

.logo_list li:nth-child(2) {
    background-image: url(../images/%EC%95%84%EC%9D%B4%EC%BD%98_%EC%9D%B8%EC%8A%A4%ED%83%80_%EB%B3%B4%ED%86%B5.png);
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
}

.logo_list li:last-child {
    background-image: url(../images/%EC%95%84%EC%9D%B4%EC%BD%98_%EC%9C%A0%ED%8A%9C%EB%B8%8C_%EB%B3%B4%ED%86%B5.png);
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
}

.logo_list li:first-child:hover {
    background-image: url(../images/%EC%95%84%EC%9D%B4%EC%BD%98_%ED%8E%98%EB%B6%81_%ED%98%B8%EB%B2%84.png);
    background-position: center;
    background-size: 40px;
    background-color: #3a559f;
}

.logo_list li:nth-child(2):hover {
    background-image: url(../images/%EC%95%84%EC%9D%B4%EC%BD%98_%EC%9D%B8%EC%8A%A4%ED%83%80_%ED%98%B8%EB%B2%84.png);
    background-position: center;
    background-size: 40px;
    background-color: #c42a70;
}

.logo_list li:last-child:hover {
    background-image: url(../images/%EC%95%84%EC%9D%B4%EC%BD%98_%EC%9C%A0%ED%8A%9C%EB%B8%8C_%ED%98%B8%EB%B2%84.png);
    background-position: center;
    background-size: 40px;
    background-color: #ed3023;
}

.footer p {
    margin-bottom: 20px;
}

.footer span {
    font-weight: bold;
    font-size: 14px
}

/*----------모바일용----------------*/




@media all and (min-width:768px){
    
    
    .sec_tit{
        font-size: 30px;
        margin-bottom: 80px;
        
    }
    
    hr{
        margin: 100px auto 100px auto;
        width: 150px;
    }
    
    
    /*소개*/
    
    .intro_sec .container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    
    .intro_sec .image{
        width: 40%;
    }
    
    .intro_sec .text{
        width: 55%;
        position: relative;
    }
    
    .intro_sec .text p{
        font-size: 26px;
        line-height: 48px;
        position: absolute;
        top: 45%;
        transform: translateY(-45%);
    }
    
    
    /*개요*/
    
    .outline_sec .container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    
    .outline_sec .image{
        width: 40%;
    }
    
    .outline_sec .text{
        width: 55%;
        position: relative;
    }
    
    .outline_sec .text p{
        font-size: 16px;
        line-height: 45px;
        position: absolute;
        top: 40%;
        transform: translateY(-40%);
    }
    
    
    
    /*캐릭터*/
    
    .cha_sec .container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    
    .cha_sec .image{
        width: 55%;
        position: relative;
    }
    
    .cha_sec .image img{
        width: 100%;
        position: absolute;
        top: 30%;
        transform: translateY(-30%);
    }
    
    .cha_sec .text{
        width: 40%;
    }
    
    .cha_sec .text h2{
        font-size: 24px;
        margin-bottom: 15px;
    }
    
    .cha_sec .text h3{
        font-size: 18px;
        margin-bottom: 30px;
    }
    
    .cha_sec .text h4{
        font-size: 16px;
    }
    
    .cha_sec .text p{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 100px;
    }
    .footer_txt1 {
        order: 1;
        width: 60%;
    }

    .footer_logo {
        order: 2;
        display: block;
    }

    .footer_txt2 {
        order: 3;
        width: 85%;
    }
}


/*---------------태블릿-------------------*/



@media all and (min-width:1024px){
    
     h2 {
    font-size: 2.25rem;
        padding: 60px 0 50px 0;}
    
    hr {position: absolute;
        width: 100px;
        height: 3px;
        top: 90px;
        z-index: 99999;
        border-radius: 50px;
        background-color: #3498db;
        left: 20%;
        display: none;}
    .pc_main_menu li:nth-child(2) hr{transform: translateX(-5%);}
    .pc_main_menu li:nth-child(3) hr{
                                        transform: translateX(-10%);}
    .pc_main_menu li:last-child hr {
        transform: translateX(-50%);}
    
    header {
        width: 100%;
        padding: 0 1%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        position: relative;
        color: #363636;
    }
    
    .logo {
        width: 200px;
        z-index: 99999999999;
}
    
    .box {
        width: 100%; 
        z-index: 9;
        background-color:#fff;
        position: absolute;
        top: 100px;
        display: none;
        height: 244px;
    }
    .main_menu_btn {
        display: none;
    }
    .gnb {
        display: none;
    }
    .sub_menu_btn {
        display: none;
    }
        .menu_toggle_btn{
            display: none;
        }
    .pc_nav {
        display: flex;
        position: relative;
        justify-content: flex-end;
        font-size: 1.17rem;
        position: relative;
        width: 80%;
        color: #363636;
        
    }
    .pc_main_menu {
        width: 100%;
        line-height: 100px;
        position: absolute;
        top: -200px;
        right: 0;
        color: #363636;
        font-weight: bold;
        
    }
    .pc_main_menu > li {
        position: relative;
        float: left;
        width: 18%;
        padding-left: 40px;
        text-align: center;

    }
        .pc_main_menu > li>a{
            color: #363636;
        }
    .pc_main_menu > li:last-child {
        padding-right: 40px;
    }
    .pc_sub_menu {
        position: absolute;
        z-index: 50;
        width: 100%;
        top: -120px;
        display: none;
        z-index: 999999;
        right: -18px;

    }
    .pc_sub_menu > li  a:hover {
        font-weight: 700;
    color: #3498db;
    }
    .pc_sub_menu > li {
        width: 18%;
        text-align: center;
        float: left;
        padding-left: 40px;
        padding-top: 20px;
        background-color: #ffff;
    }
        .pc_sub_menu_text > li>a{
            color: #363636;
        }
    

    .pc_sub_menu > li:first-child,
    .pc_sub_menu > li:nth-child(2) {
        padding-left: 30px;
    }
    .pc_sub_menu > li:last-child {
        padding-right: 40px;
    }
    .pc_sub_menu_text li:first-child {
        padding-top: 0;
    }
    .pc_sub_menu_text li {
        padding-top: 30px;
    }
    .pc_sub_menu_text li:nth-child(4) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .sec_tit{
        font-size: 40px;
        margin-bottom: 100px;
    }
    
    hr{
        margin: 120px auto 120px auto;
        width: 180px;
    }
    
    
    /*소개*/
    
    .sec_tit{
        margin-top: 300px;
    }
    
    .intro_sec .image{
        width: 46%;
    }
    
    .intro_sec .text{
        width: 46%;
    }
    
    
    /*개요*/
    
    .outline_sec .image{
        width: 46%;
    }
    
    .outline_sec .text{
        width: 46%;
    }
    
    .outline_sec .text p{
        font-size: 20px;
        line-height: 55px;
    }
    
    
    /*캐릭터*/
    
    .cha_sec .image{
        width: 46%;
    }
    
    .cha_sec .text{
        width: 46%;
    }
    
    .cha_sec .text h2{
        font-size: 32px;
        margin-bottom: 20px;
    }
    
    .cha_sec .text h3{
        font-size: 22px;
        margin-bottom: 40px;
    }
    
    .cha_sec .text h4{
        font-size: 22px;
        margin-bottom: 30px;
    }
    
    .cha_sec .text p{
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 120px;
    }
}



/*-------------------PC용--------------*/

