@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    vertical-align: top;
}

/*공통*/

#wrap{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'NanumSquareRound';
}

.container{
    width: 80%;
    margin: 0 auto;
}

hr{
    width: 100px;
    height: 2px;
    background-color: #363636;
    margin: 80px auto 80px auto;
    
}


.header {
    order: 1;
    width: 100%;
    height: 150px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    position: relative;

}
.pc_nav {
    display: none;
}

nav {
    position: absolute;
    width: 100%;
    top: 96%;
    left: 0;
    z-index: 999;
}

.logo {
    width: 200px;
    height: 100px;
}

.logo img {
    width: 100%;
}

.gnb {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: none;
    z-index: 10;
}

.gnb li {
    border-bottom: 1px solid #fff;
}

.gnb li a {
    display: block;
    padding: 14px 0 14px 5%;
    font-size: 20px;
    color: #000;

}

.no li a:hover {
    background-color: #fff;
    color: #3498db;
}

.gnb > li > a {
    background-color: #b5e1fe;
    
}

.gnb > li > a:hover {
    color: #fff;
}


.menu_toggle_btn {
    float: right;
    width: 40px;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 20px;
}



.menu_toggle_btn span {
    display: block;
    width: 100%;
    height: 5px;
    background-color: #363636;
    transition: all 0.2s;
}

.menu_toggle_btn span:nth-child(2) {
    margin: 5px 0;
}

.menu_toggle_btn.active span:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}

.menu_toggle_btn.active span:nth-child(2) {
    opacity: 0;
}

.menu_toggle_btn.active span:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
}

.no {
    display: none;
}



/*음악회 소개*/
.music_title{
    order: 2;
}

.music_title img{
    width: 80%;
    height: auto;
    margin: 40px auto;
    display: block;
}

.music_title .sec_tit{
    text-align: center;
    font-family: 'yg-jalnan';
    color: #2e2e2e;
    margin-bottom: 25px;
    font-size: 30px;
    background: linear-gradient(90deg, rgba(31,51,102,1) 0%, rgba(52,152,219,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.music_title p{
    text-align: center;
    font-size: 20px;
    color: #363636;
    line-height: 30px;
    margin-bottom: 20px;
}

.music_title h5{
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 20px;
    margin-bottom: 60px;
}


/*가수 소개*/
.music_singers{
    order: 3;
}

.music_singers h3{
    text-align: center;
    color: #363636;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 45px;
}

.music_singers .singers_list{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-bottom: 60px;
}

.music_singers .singers_list li{
    margin-bottom: 30px;
}

.music_singers .singers_list li:nth-child(1){
    order: 1;
    display: block;
    width: 50%;
}

.music_singers .singers_list li:nth-child(1) .singer_photo{
    width: 160px;
    height: 160px;
    background-image: url(../images/singer01_normal.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.music_singers .singers_list li:nth-child(1):hover .singer_photo{
    background-image: url(../images/singer01_hover.jpg);
    transition: 0.8s;
}

.music_singers .singers_list li:nth-child(2){
    order: 2;
    display: block;
    width: 50%;
}

.music_singers .singers_list li:nth-child(2) .singer_photo{
    width: 160px;
    height: 160px;
    background-image: url(../images/singer02_normal.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.music_singers .singers_list li:nth-child(2):hover .singer_photo{
    background-image: url(../images/singer02_hover.jpg);
    transition: 0.8s;
}

.music_singers .singers_list li:nth-child(3){
    order: 3;
    display: block;
    width: 100%;
}

.music_singers .singers_list li:nth-child(3) .singer_photo{
    width: 300px;
    height: 200px;
    background-image: url(../images/singer03_normal.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.music_singers .singers_list li:nth-child(3):hover .singer_photo{
    background-image: url(../images/singer03_hover.jpg);
    transition: 0.8s;
}

.music_singers .singers_list li:nth-child(4){
    order: 4;
    display: block;
    width: 33.33333%;
}

.music_singers .singers_list li:nth-child(4) .singer_photo{
    width: 110px;
    height: 110px;
    background-image: url(../images/singer04_normal.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.music_singers .singers_list li:nth-child(4):hover .singer_photo{
    background-image: url(../images/singer04_hover.jpg);
    transition: 0.8s;
}

.music_singers .singers_list li:nth-child(5){
    order: 5;
    display: block;
    width: 33.33333%;
}

.music_singers .singers_list li:nth-child(5) .singer_photo{
    width: 110px;
    height: 110px;
    background-image: url(../images/singer05_normal.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.music_singers .singers_list li:nth-child(5):hover .singer_photo{
    background-image: url(../images/singer05_hover.jpg);
    transition: 0.8s;
}

.music_singers .singers_list li:nth-child(6){
    order: 6;
    display: block;
    width: 33.33333%;
}

.music_singers .singers_list li:nth-child(6) .singer_photo{
    width: 110px;
    height: 110px;
    background-image: url(../images/singer06_normal.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.music_singers .singers_list li:nth-child(6):hover .singer_photo{
    background-image: url(../images/singer06_hover.jpg);
    transition: 0.8s;
}

.music_singers .singers_list .singer_photo{
    margin: 0 auto 10px auto;
}

.music_singers .singers_list h5{
    text-align: center;
    font-size: 14px;
    font-weight: normal;
}

.footer {
    width: 100%;
    height: auto;
    order: 9;
    display: flex;
    flex-flow: row wrap;
    background-color: #000;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #fff;
}

.footer_txt1 {
    width: 45%;
    height: auto;
    order: 1;
    background-color: #000;
    margin-top: 20px;
}

.footer_txt2 {
    width: 90%;
    height: auto;
    order: 2;
    background-color: #000;
    margin: 0 auto;
}

.logo_list {
    order: 2;
    width: 200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.logo_list li {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    cursor: pointer;
    transition: all 0.2s;
}

.logo_list li:first-child {
    background-image: url(../images/icon_facebook_normal.png);
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
}

.logo_list li:nth-child(2) {
    background-image: url(../images/icon_insta_normal.png);
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
}

.logo_list li:last-child {
    background-image: url(../images/icon_youtube_normal.png);
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
}

.logo_list li:first-child:hover {
    background-image: url(../images/icon_facebook_hover.png);
    background-position: center;
    background-size: 40px;
    background-color: #3a559f;
}

.logo_list li:nth-child(2):hover {
    background-image: url(../images/icon_insta_hover.png);
    background-position: center;
    background-size: 40px;
    background-color: #c62a70;
}

.logo_list li:last-child:hover {
    background-image: url(../images/icon_youtube_hover.png);
    background-position: center;
    background-size: 40px;
    background-color: #ed3023;
}

.footer p {
    margin-bottom: 20px;
}

.footer span {
    font-weight: bold;
    font-size: 14px
}

/*----------모바일용----------------*/




@media all and (min-width:768px){
    
    
    #wrap{
        flex-direction: row;
    }
    
    .music_title{
        width: 50%;
    }
    
    .music_singers{
        width: 50%;
    }
    
    
    .music_title img{
        margin-top: 60px;
    }
    
    .music_title .sec_tit{
        font-size: 28px;
    }
    
    .music_title p{
        font-size: 16px;
        line-height: 24px;
    }
    
    
    .music_singers .singers_list li:nth-child(1) .singer_photo{
        width: 150px;
        height: 150px;
    }
    
    .music_singers .singers_list li:nth-child(2) .singer_photo{
        width: 150px;
        height: 150px;
    }
    
    .music_singers .singers_list li:nth-child(3) .singer_photo{
        width: 320px;
        height: 190px;
    }
    
    .music_singers .singers_list li:nth-child(4) .singer_photo{
        width: 100px;
        height: 100px;
    }
    
    .music_singers .singers_list li:nth-child(5) .singer_photo{
        width: 100px;
        height: 100px;
    }
    
    .music_singers .singers_list li:nth-child(6) .singer_photo{
        width: 100px;
        height: 100px;
    }
    
    .music_singers .singers_list .singer_photo{
    margin: 0 auto 15px auto;
}
    
    .music_singers .singers_list h5{
        font-size: 12px;
    }
    
    .footer_txt1 {
        order: 1;
        width: 60%;
    }

    .footer_logo {
        order: 2;
        display: block;
    }

    .footer_txt2 {
        order: 3;
        width: 85%;
    }
}


/*---------------태블릿-------------------*/



@media all and (min-width:1024px){
    
     h2 {
    font-size: 2.25rem;
        padding: 60px 0 50px 0;}
    
    hr {position: absolute;
        width: 100px;
        height: 3px;
        top: 90px;
        z-index: 99999;
        border-radius: 50px;
        background-color: #3498db;
        left: 20%;
        display: none;}
    .pc_main_menu li:nth-child(2) hr{transform: translateX(-5%);}
    .pc_main_menu li:nth-child(3) hr{
                                        transform: translateX(-10%);}
    .pc_main_menu li:last-child hr {
        transform: translateX(-50%);}
    
    header {
        width: 100%;
        padding: 0 1%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        position: relative;
        color: #363636;
    }
    
    .logo {
        width: 200px;
        z-index: 99999999999;
}
    
    .box {
        width: 100%; 
        z-index: 10;
        background-color:#fff;
        position: absolute;
        top: 100px;
        display: none;
        height: 244px;
    }
    .main_menu_btn {
        display: none;
    }
    .gnb {
        display: none;
    }
    .sub_menu_btn {
        display: none;
    }
        .menu_toggle_btn{
            display: none;
        }
    .pc_nav {
        display: flex;
        position: relative;
        justify-content: flex-end;
        font-size: 1.17rem;
        position: relative;
        width: 80%;
        color: #363636;
        
    }
    .pc_main_menu {
        width: 100%;
        line-height: 100px;
        position: absolute;
        top: -200px;
        right: 0;
        color: #363636;
        font-weight: bold;
        
    }
    .pc_main_menu > li {
        position: relative;
        float: left;
        width: 18%;
        padding-left: 40px;
        text-align: center;

    }
        .pc_main_menu > li>a{
            color: #363636;
        }
    .pc_main_menu > li:last-child {
        padding-right: 40px;
    }
    .pc_sub_menu {
        position: absolute;
        z-index: 50;
        width: 100%;
        top: -120px;
        display: none;
        z-index: 999999;
        right: -18px;

    }
    .pc_sub_menu > li  a:hover {
        font-weight: 700;
    color: #3498db;
    }
    .pc_sub_menu > li {
        width: 18%;
        text-align: center;
        float: left;
        padding-left: 40px;
        padding-top: 20px;
        background-color: #ffff;
    }
        .pc_sub_menu_text > li>a{
            color: #363636;
        }
    

    .pc_sub_menu > li:first-child,
    .pc_sub_menu > li:nth-child(2) {
        padding-left: 30px;
    }
    .pc_sub_menu > li:last-child {
        padding-right: 40px;
    }
    .pc_sub_menu_text li:first-child {
        padding-top: 0;
    }
    .pc_sub_menu_text li {
        padding-top: 30px;
    }
    .pc_sub_menu_text li:nth-child(4) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .music_title img{
        margin-top: 120px;
    }
    
    .music_title .sec_tit{
        font-size: 36px;
        margin-bottom: 30px;
    }
    
    .music_title p{
        font-size: 20px;
        line-height: 28px;
    }
    
    .music_title h5{
        font-size: 12px;
        line-height: 18px;
    }
    
    .music_singers h3{
        margin-top: 90px;
        font-size: 24px;
    }
    
    
    .music_singers .singers_list li:nth-child(1) .singer_photo{
        width: 180px;
        height: 180px;
    }
    
    .music_singers .singers_list li:nth-child(2) .singer_photo{
        width: 180px;
        height: 180px;
    }
    
    .music_singers .singers_list li:nth-child(3) .singer_photo{
        width: 360px;
        height: 240px;
    }
    
    .music_singers .singers_list li:nth-child(4) .singer_photo{
        width: 120px;
        height: 120px;
    }
    
    .music_singers .singers_list li:nth-child(5) .singer_photo{
        width: 120px;
        height: 120px;
    }
    
    .music_singers .singers_list li:nth-child(6) .singer_photo{
        width: 120px;
        height: 120px;
    }
    
    .music_singers .singers_list .singer_photo{
    margin: 0 auto 20px auto;
}
    
    .music_singers .singers_list h5{
        font-size: 15px;
    }
    
    
    
}



/*-------------------PC용--------------*/


@media all and (min-width:1300px){
    
    .music_title img{
        margin-bottom: 60px;
    }
    
    .music_title .sec_tit{
        font-size: 45px;
        margin-bottom: 30px;
    }
    
    .music_title p{
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 50px;
    }
    
    .music_title h5{
        font-size: 16px;
        line-height: 25px;
    }
    
    .music_singers h3{
        margin-top: 90px;
        font-size: 32px;
    }
    
    .music_singers .singers_list{
        margin-bottom: 250px;
    }
    
    .music_singers .singers_list li{
        margin-bottom: 40px;
    }
    
    .music_singers .singers_list li:nth-child(1) .singer_photo{
        width: 240px;
        height: 240px;
    }
    
    .music_singers .singers_list li:nth-child(2) .singer_photo{
        width: 240px;
        height: 240px;
    }
    
    .music_singers .singers_list li:nth-child(3) .singer_photo{
        width: 500px;
        height: 350px;
    }
    
    .music_singers .singers_list li:nth-child(4) .singer_photo{
        width: 150px;
        height: 150px;
    }
    
    .music_singers .singers_list li:nth-child(5) .singer_photo{
        width: 150px;
        height: 150px;
    }
    
    .music_singers .singers_list li:nth-child(6) .singer_photo{
        width: 150px;
        height: 150px;
    }
    
    .music_singers .singers_list .singer_photo{
    margin: 0 auto 20px auto;
}
    
    .music_singers .singers_list h5{
        font-size: 20px;
    }
    
}
